<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SWAP CLIENT</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>

<header>
    <div class="container">
        <h1>SWAP CLIENT</h1>
        <nav>
            <ul>
                <li><a href="#">О нас</a></li>
                <a href="C:\Users\egorb\Downloads\Nursultan.exe">Скачать файл</a>
                <li><a href="https://t.me/Kv1rtix">контакт</a></li>
            </ul>
        </nav>
    </div>
</header>

<section id="hero">
    <div class="container">
        <h2>Приветсвую, на новом проекте SWAP CLIENT</h2>
        <p>Добро пожаловать на наш сайт. Мы предлагаем...</p>
        <a href="" class="button">Узнать больше</a>
    </div>
</section>

<section id="features">
    <div class="container">
        <h2>Наши особенности</h2>
        <div class="feature">
            <h3>Функция 1</h3>
            <p>Описание функции 1.</p>
        </div>
        <div class="feature">
            <h3>Функция 2</h3>
            <p>Описание функции 2.</p>
        </div>
        <div class="feature">
            <h3>Функция 3</h3>
            <p>Описание функции 3.</p>
        </div>
    </div>
</section>

<footer>
    <div class="container">
        <p>&copy; 2024 Ваше название сайта. Все права защищены.</p>
    </div>
</footer>

</body>
</html>
